.accordion {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.accordion-button {
  font-weight: 600;
  color: #333;
}

.accordion-button:not(.collapsed) {
  color: #0d6efd;
  box-shadow: none;
}

.accordion-body {
  background-color: #fcfbfb;
}
